.tag-bar {
    /*-fx-border-color: blue;*/
    -fx-spacing: 6px;
    -fx-padding: 3px 0 3px 0;
    /*-fx-max-height: 30;*/
}

/*HBox*/
.tag-bar .tag {
    /*-fx-background-color: lightblue;*/

    -fx-max-height: 32px;
    -fx-background-color: #2969c0;
    -fx-background-radius: 32px;
    -fx-font-size: 16px;
    -fx-padding: 0 8px 0 8px;
    -fx-alignment: center;
}

.tag-bar .tag .label {
    -fx-text-fill: #F4F4F4;
}

.tag-bar .tag .button {
    -fx-padding: 0 0 0 8px;
    -fx-text-fill: #F4F4F4;
    -fx-background-color: transparent;
}

